.promotion-section {
    height: 948px;
    background-color: #fffbeb;
    background-image: url(../../assets/rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;

}

@media (min-width: 425px) {
    .promotion-section {
        height: 1577.2px;
        background-position: center;
    }
}